.mypage-button {
    position: fixed;
    //top: 0;
    right: 0;
    /* 화면 우측에 배치 */
    width: 150px;
    height: 30px;
    background-color: #735AF3;
    display: flex;
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.content {
    margin-top: 70px;
    /* 헤더의 높이만큼 추가 */
}

.image-container {
    display: flex;
    /* 자식 요소를 가로로 배치하기 위해 부모 요소를 플렉스로 설정 */
    position: relative;
    /* 부모 요소를 상대 위치로 설정 */
}

.image {
    width: 150px;
    /* 이미지의 너비 설정*/
    height: auto;
    /* 이미지의 높이를 너비에 비례하도록 설정 */
    margin: 10px;
    /* 이미지 사이의 간격 설정 */
}

.character-button {
    width: 200px;
    height: 45px;
    background-color: transparent;
    /* 배경을 투명으로 설정 */
    border: 2px solid #735AF3;
    border-radius: 5px;
    color: #735AF3;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* 배경색 전환 애니메이션 */

    &.selected {
        background-color: #735AF3;
        /* 선택된 버튼의 배경색을 변경 */
        color: white;
        /* 텍스트 색상 변경 */
    }

    &:hover {
        background-color: #735AF3;
        /* 마우스 호버 시 배경색 변경 */
        color: white;
        /* 텍스트 색상 변경 */
    }
}

.chimae-button {
    width: 300px;
    height: 50px;
    background-color: transparent;
    /* 배경을 투명으로 설정 */
    border: 2px solid #735AF3;
    border-radius: 5px;
    color: #735AF3;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* 배경색 전환 애니메이션 */

    &.selected {
        background-color: #735AF3;
        /* 선택된 버튼의 배경색을 변경 */
        color: white;
        /* 텍스트 색상 변경 */
    }

    &:hover {
        background-color: #735AF3;
        /* 마우스 호버 시 배경색 변경 */
        color: white;
        /* 텍스트 색상 변경 */
    }
}

.main-column {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: column;
}

.main-row {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: row;
}

.for-text {
    margin-left: 15px;
    margin-right: 15px;
}

.discript-div {
    width: 280px;
    background-color: rgba(115, 90, 243, 0.5);
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: row;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.div-discript-div {
    width: 300px;
    border: 2px solid rgba(115, 90, 243, 0.5);
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: row;
    border-radius: 5px;
    color: black;
}

.sizedbox {
    height: 60px;
}

.sizedbox-bottom {
    height: 120px;
}

.image-overlay-balloon {
    width: 160px;
    /* 이미지 너비 조정 */
    position: absolute;
    /* 절대 위치로 설정 */
    top: 0;
    /* 상단에 위치하도록 설정 */
    z-index: 1;
    /* 다른 요소 위에 표시되도록 설정 */
}

.text-overlay {
    width: 130px;
    position: absolute;
    /* 절대 위치로 설정 */
    top: 0;
    /* 상단에 위치하도록 설정 */
    z-index: 2;
    /* 높은 z-index 값을 설정하여 다른 요소 위에 표시되도록 설정 */
    //background-color: rgba(0, 0, 0, 0.5);
    color: black;
    padding-left: 25px;
    padding-top: 40px;
}

.for-margin {
    width: 100%;
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: column;
    word-wrap: break-word;
}

.iphone-frame {
    width: 390px;
    height: 844px;
    background: #ffffff;
    position: relative;
    justify-content: center;
    align-items: center;
}

.for-main-chimae-font {
    font-size: 20px;
}