.content {
    margin-top: 70px;
    /* 헤더의 높이만큼 추가 */
}

.fixed-button {
    position: fixed; // 화면 위치 고정
    bottom: 100px; // 화면 하단과의 간격 조정
    top: 84%;
    right: 40%;
    width: 45px;
    height: 45px;
    border-style: none;
    background-color: #b7a9ff; // 원 모양의 버튼 배경색
    border-radius: 50%; // 원 모양 만들기
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    color: #735AF3; // 텍스트 색상
    box-shadow: 3px 3px 5px #888; // 우측 하단 대각선 방향 그림자
    z-index: 999; // 다른 요소 위에 표시
    cursor: pointer; // 마우스 커서 변경
}

.my-diary {
    width: 300px;
    height: 100px;
    border: 2px solid #735AF3;
    border-radius: 5px;
    //margin-bottom: 10px;
}

.my-diary-column {
    display: flex;
    align-items: flex-start; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: column;
}

.iphone-frame {
    width: 390px;
    height: 844px;
    background: #ffffff;
    position: relative;
    justify-content: center;
    align-items: center;
}

.for-chimae-font {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: column;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
}

.for-text {
    margin-left: 15px;
    margin-right: 15px;
}

.sizedbox {
    height: 30px;
}

.sizedbox-row {
    width: 30px;
}

.calender-text {
    color: #735AF3;
    font-size: 10px;
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: row;
    //margin-left: 20px;
}

.calender-column {
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: column;
    //margin-left: 20px;
    font-weight: bold;
}

.calender-row {
    //color: black;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: space-around; // 수평 방향 시작 정렬
    flex-direction: row;
    //margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent;
    /* 배경 투명 설정 */
    position: relative;
    /* 상대 위치 설정 */

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        box-shadow: 3px 0px 4px 3.25px rgba(192, 192, 192, 0.25);
        width: 390px;
        height: 4px;
    }

    &::before {
        top: 0;
        /* 상단에 1px 회색 선 추가 */
    }

    &::after {
        bottom: 0;
        /* 하단에 1px 회색 선 추가 */
    }
}

.title-start {
    font-size: 16px;
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: row;
}