.splash-text {
    display: flex;
    align-items: start; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: column;
    color: #735AF3;
}

.splash-margin {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}