.splash-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #735AF3;
}

.make-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iphone-frame {
    width: 390px;
    height: 844px;
    background: #ffffff;
    position: relative;
    justify-content: center;
    align-items: center;
}

.for-chimae-font {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: column;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
}

.for-text {
    margin-left: 15px;
    margin-right: 15px;
}

.sizedbox {
    height: 30px;
}