.navigation-bar {
    position: fixed;
    bottom: 0;
    width: 390px;
    height: 50px;
    background-color: #ffffff;
    /* 연보라색 */
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav-button {
        background: none;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer; //마우스 커서를 손가락 모양으로 변경!

        &.recommended {
            /* 스타일 필요 시 여기에 추가 */
        }

        &.home {
            /* 스타일 필요 시 여기에 추가 */
        }

        &.game {
            /* 스타일 필요 시 여기에 추가 */
        }

        &.mypage {
            /* 스타일 필요 시 여기에 추가 */
        }

    }
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-column {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: column;
}

.nav-font {
    font-size: 10px;
}