.content {
    margin-top: 70px;
    /* 헤더의 높이만큼 추가 */
}

.my-page-button {
    width: 390px;
    height: 70px;
    background-color: transparent;
    border: 2px solid #ffffff;
    font-size: 16px;

}

.my-page-text-column {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: column;
}

.my-page-text-row {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: row;
}

.sizedbox {
    height: 30px;
}

.iphone-frame {
    width: 390px;
    height: 844px;
    background: #ffffff;
    position: relative;
    justify-content: center;
    align-items: center;
}

.for-chimae-font {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: column;
    font-size: 12px;

}

.for-text {
    margin-left: 15px;
    margin-right: 15px;
}

.sizedbox {
    height: 0px;
}

.mypage-row {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: space-between; // 수평 방향 시작 정렬
    flex-direction: row;
}

.border-div {
    width: 100%;
    background: #F0F0F0;
    height: 2px;
}

.gray-div {
    width: 390px;
    height: 260px;
    background: #F0F0F0;
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: column;
}

.diary-div {
    background-color: #ffffff;
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: space-around; // 수평 방향 시작 정렬
    flex-direction: column;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.just-row {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: row;
}

.row-sizedbox {
    width: 10px;
}