.content {
    margin-top: 70px;
    /* 헤더의 높이만큼 추가 */
}

.custom-div {
    // width: 100vh;
    // height: 100px;
    border: 2px solid #735AF3;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    /* 수평 가운데 정렬 */
    align-items: center;
    /* 수직 가운데 정렬 */

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.suggest-column {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: column;
}

@keyframes pageSlide {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.page-animation {
    animation: pageSlide 1s ease;
}