.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    /* 연보라색 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    .header-button {
        //뒤로가기 버튼
        background-color: white;
        border: none;
        color: #735AF3;
        font-size: 16px;
        cursor: pointer; //마우스 커서를 손가락 모양으로 변경!

    }
}

.header-link {
    text-decoration: none;
    color: white;
}

.mypage-link {
    text-decoration: none;
    color: #735AF3;
}

.sizedbox {
    width: 100px;
}