.content {
    margin-top: 70px;
    /* 헤더의 높이만큼 추가 */
}

.sizedbox {
    height: 30px;
}

.iphone-frame {
    width: 390px;
    height: 844px;
    background: #ffffff;
    position: relative;
    justify-content: center;
    align-items: center;
}

.for-chimae-font {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: column;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
}

.for-text {
    margin-left: 15px;
    margin-right: 15px;
}

.sizedbox {
    height: 30px;
}

.content-box{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 3.52351px 2px rgba(0, 0, 0, 0.20) inset;
}