.write-patient-text {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: column;
}

.write-patient-row {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: row;
}

.genderBtn {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #735AF3;
    color: #735AF3;
    cursor: pointer;

    transition: background-color 0.3s;
    /* 배경색 전환 애니메이션 */

    &.selected {
        background-color: #735AF3;
        /* 선택된 버튼의 배경색을 변경 */
        color: rgb(255, 255, 255);
        /* 텍스트 색상 변경 */
    }

    &:hover {
        background-color: #735AF3;
        /* 마우스 호버 시 배경색 변경 */
        color: white;
        /* 텍스트 색상 변경 */
    }

}

.write-text-button {
    width: 314px;
    height: 60px;
    background-color: transparent;
    /* 배경을 투명으로 설정 */
    border: 2px solid #735AF3;
    border-radius: 15px;
    color: #735AF3;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* 배경색 전환 애니메이션 */

    &.selected {
        background-color: #735AF3;
        /* 선택된 버튼의 배경색을 변경 */
        color: rgb(0, 0, 0);
        /* 텍스트 색상 변경 */
    }

    &:hover {
        background-color: #735AF3;
        /* 마우스 호버 시 배경색 변경 */
        color: white;
        /* 텍스트 색상 변경 */
    }
}

.patient-input {
    width: 150px;
    height: 35px;
    display: flex;
    align-items: flex-start; // 수직 방향 시작 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: column;
    border-radius: 50px;

}

.iphone-frame {
    width: 390px;
    height: 844px;
    background: #ffffff;
    position: relative;
    justify-content: center;
    align-items: center;
}

.for-splash-chimae-font {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: center; // 수평 방향 시작 정렬
    flex-direction: column;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.for-text {
    margin-left: 15px;
    margin-right: 15px;
}

.sizedbox {
    height: 30px;
}