.write-patient-text {
    display: flex;
    align-items: center; // 수직 방향 중앙 정렬
    justify-content: flex-start; // 수평 방향 시작 정렬
    flex-direction: column;
}

.sizedbox {
    height: 30px;
}

.write-text-button {
    width: 100px;
    height: 30px;
    background-color: transparent;
    /* 배경을 투명으로 설정 */
    border: 2px solid #DE98FF;
    border-radius: 5px;
    color: #DE98FF;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* 배경색 전환 애니메이션 */

    &.selected {
        background-color: #DE98FF;
        /* 선택된 버튼의 배경색을 변경 */
        color: white;
        /* 텍스트 색상 변경 */
    }

    &:hover {
        background-color: #DE98FF;
        /* 마우스 호버 시 배경색 변경 */
        color: white;
        /* 텍스트 색상 변경 */
    }
}